<section class="nav">
  <div class="links"><a href="/">Home</a></div>
  <div class="links"><a href="#contact">Contact</a></div>
  <div class="links"><a href="contact">Feedback</a></div>
  <div class="links"><a href="#">Top Spices</a></div>
  <div class="links"><a href="#">New Spices</a></div>
</section>
