<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/styles.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
   <p style="font-size: xx-large; text-align: center; padding: 10%;"> <%= error %> : NOT FOUND </p>
    <p>Error <%= error1 %></p>
</body>
</html>